openapi: 3.0.0
servers:
  - url: 'https://inventory.dearsystems.com/ExternalApi/v2'
info:
  title: DEAR Inventory API
  description: This specifing endpoints for DEAR Inventory API
  version: "2.0.0"
  termsOfService: "https://dearsystems.com/terms-and-conditions/"
  contact:
    name: "Nhan Nguyen"
    email: "nnhansg@gmail.com"
    url: "https://www.nhansg.com"
paths:
  /customer:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: getCustomers
      summary: Allows you to retrieve the customers
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/modifiedSince'
        - $ref: '#/components/parameters/includeDeprecated'
      responses:
        '200':
          description: Success - return response of type Customers array with 0 to n Customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
              example: '{
                          "Total": 2,
                          "Page": 1,
                          "CustomerList": [
                            {
                              "ID": "0365e5bb-e5ea-4a45-b98b-fdc4466bdaf1",
                              "Name": "Human Test",
                              "Currency": "AUD",
                              "PaymentTerm": "30 days",
                              "Discount": 0,
                              "TaxRule": "BAS Excluded",
                              "Carrier": "DEFAULT Carrier",
                              "SalesRepresentative": nil,
                              "Location": "Main Warehouse",
                              "Comments": "",
                              "AccountReceivable": "610",
                              "RevenueAccount": "200",
                              "PriceTier": "Tier 1",
                              "TaxNumber": "",
                              "AdditionalAttribute1": "",
                              "AdditionalAttribute2": "",
                              "AdditionalAttribute3": "",
                              "AdditionalAttribute4": "",
                              "AdditionalAttribute5": "",
                              "AdditionalAttribute6": "",
                              "AdditionalAttribute7": "",
                              "AdditionalAttribute8": "",
                              "AdditionalAttribute9": "",
                              "AdditionalAttribute10": "",
                              "AttributeSet": nil,
                              "Tags": "",
                              "Status": "Active",
                              "CreditLimit": 0,
                              "IsOnCreditHold": false,
                              "LastModifiedOn": "2018-01-24T05:07:23.917Z",
                              "Addresses": [
                                {
                                  "Line1": "P O Box 456",
                                  "Line2": "Southbank",
                                  "City": "Melbourne GPO",
                                  "State": "VIC",
                                  "Postcode": "3331",
                                  "Country": nil,
                                  "Type": "Billing",
                                  "DefaultForType": true,
                                  "ID": "fc8ca28e-7f91-4ac3-8fff-deb86395b494"
                                }
                              ],
                              "Contacts": [
                                {
                                  "Name": "Nick Wakefield",
                                  "JobTitle": nil,
                                  "Phone": "03 3014556",
                                  "MobilePhone": nil,
                                  "Fax": nil,
                                  "Email": nil,
                                  "Website": nil,
                                  "Default": true,
                                  "Comment": nil,
                                  "IncludeInEmail": false,
                                  "ID": "c650db26-2fca-4fe4-837d-ffd0f4d97200"
                                }
                              ]
                            },
                            {
                              "ID": "861918cc-81f9-4701-9639-864c796561cf",
                              "Name": "Customer Test",
                              "Currency": "AUD",
                              "PaymentTerm": "30 days",
                              "Discount": 0,
                              "TaxRule": "GST Free Exports",
                              "Carrier": nil,
                              "SalesRepresentative": nil,
                              "Location": "Main Warehouse",
                              "Comments": nil,
                              "AccountReceivable": "610",
                              "RevenueAccount": "200",
                              "PriceTier": "Tier 1",
                              "TaxNumber": nil,
                              "AdditionalAttribute1": nil,
                              "AdditionalAttribute2": nil,
                              "AdditionalAttribute3": nil,
                              "AdditionalAttribute4": nil,
                              "AdditionalAttribute5": nil,
                              "AdditionalAttribute6": nil,
                              "AdditionalAttribute7": nil,
                              "AdditionalAttribute8": nil,
                              "AdditionalAttribute9": nil,
                              "AdditionalAttribute10": nil,
                              "AttributeSet": nil,
                              "Tags": nil,
                              "Status": "Active",
                              "CreditLimit": 0,
                              "IsOnCreditHold": false,
                              "LastModifiedOn": "2018-01-30T06:07:43.46Z",
                              "Addresses": [],
                              "Contacts": [
                                {
                                  "Name": "Customer Test",
                                  "JobTitle": nil,
                                  "Phone": nil,
                                  "MobilePhone": nil,
                                  "Fax": nil,
                                  "Email": "Customer@mail.ru",
                                  "Website": nil,
                                  "Default": true,
                                  "Comment": nil,
                                  "IncludeInEmail": false,
                                  "ID": "23ef723b-75b5-43b3-8ee7-56d193e53923"
                                }
                              ]
                            }
                          ]
                        }'
    post:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: createCustomer
      summary: Allows you to create a customer
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a customer object with properties to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
            example: '{
                        "Name": "DIISR - Small Business Services customer",
                        "Currency": "AUD",
                        "PaymentTerm": "30 days",
                        "Discount": 0,
                        "TaxRule": "GST Free Exports",
                        "Carrier": "DEFAULT Carrier",
                        "SalesRepresentative": nil,
                        "Location": "Main Warehouse",
                        "Comments": nil,
                        "AccountReceivable": "610",
                        "RevenueAccount": "200",
                        "PriceTier": "Tier 1",
                        "TaxNumber": nil,
                        "AdditionalAttribute1": nil,
                        "AdditionalAttribute2": nil,
                        "AdditionalAttribute3": nil,
                        "AdditionalAttribute4": nil,
                        "AdditionalAttribute5": nil,
                        "AdditionalAttribute6": nil,
                        "AdditionalAttribute7": nil,
                        "AdditionalAttribute8": nil,
                        "AdditionalAttribute9": nil,
                        "AdditionalAttribute10": nil,
                        "AttributeSet": nil,
                        "Tags": nil,
                        "Status": "Active",
                        "Addresses": [
                            {
                                "ID": "4bc4e423-d8af-454d-a186-4a827c15bd0b",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Line1": "L3, Southbank House",
                                "Line2": "13 Gallery Ave",
                                "City": "Melbourne",
                                "State": "VIC",
                                "Postcode": "3131",
                                "Country": nil,
                                "Type": "Business",
                                "DefaultForType": true
                            },
                            {
                                "ID": "35cec087-04da-46b5-b3c8-c3a7311f2417",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Line1": "L3, Southbank House",
                                "Line2": "13 Gallery Ave",
                                "City": "Melbourne",
                                "State": "VIC",
                                "Postcode": "3131",
                                "Country": nil,
                                "Type": "Billing",
                                "DefaultForType": true
                            }
                        ],
                        "Contacts": [
                            {
                                "ID": "1d62f59b-657d-423f-ad95-9ad9ec4f29a3",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Name": "Sheree Bond",
                                "JobTitle": nil,
                                "Phone": "0800 4389376",
                                "MobilePhone": nil,
                                "Fax": "03 4389379",
                                "Email": "accounts@diisr.govt",
                                "Website": nil,
                                "Default": true,
                                "Comment": nil,
                                "IncludeInEmail": false
                            }
                        ]
                    }'
      responses:
        '200':
          description: Success - return response of type Customers array with newly created Customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "CustomerList": [
                            {
                                "ID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                "Name": "DIISR - Small Business Services customer",
                                "Currency": "AUD",
                                "PaymentTerm": "30 days",
                                "Discount": 0,
                                "TaxRule": "GST Free Exports",
                                "Carrier": "DEFAULT Carrier",
                                "SalesRepresentative": nil,
                                "Location": "Main Warehouse",
                                "Comments": nil,
                                "AccountReceivable": "610",
                                "RevenueAccount": "200",
                                "PriceTier": "Tier 1",
                                "TaxNumber": nil,
                                "AdditionalAttribute1": nil,
                                "AdditionalAttribute2": nil,
                                "AdditionalAttribute3": nil,
                                "AdditionalAttribute4": nil,
                                "AdditionalAttribute5": nil,
                                "AdditionalAttribute6": nil,
                                "AdditionalAttribute7": nil,
                                "AdditionalAttribute8": nil,
                                "AdditionalAttribute9": nil,
                                "AdditionalAttribute10": nil,
                                "AttributeSet": nil,
                                "Tags": nil,
                                "Status": "Active",
                                "LastModifiedOn": "2018-01-31T06:07:43.46Z",
                                "CreditLimit": 0
                                "Addresses": [
                                    {
                                        "ID": "b2e8260c-29f8-4153-b8bc-3b4932cb1e1d",
                                        "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                        "Line1": "L3, Southbank House",
                                        "Line2": "13 Gallery Ave",
                                        "City": "Melbourne",
                                        "State": "VIC",
                                        "Postcode": "3131",
                                        "Country": nil,
                                        "Type": "Billing",
                                        "DefaultForType": true
                                    },
                                    {
                                        "ID": "505080d3-ebad-4d03-85ae-88df19536bc9",
                                        "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                        "Line1": "L3, Southbank House",
                                        "Line2": "13 Gallery Ave",
                                        "City": "Melbourne",
                                        "State": "VIC",
                                        "Postcode": "3131",
                                        "Country": nil,
                                        "Type": "Business",
                                        "DefaultForType": true
                                    }
                                ],
                                "Contacts": [
                                    {
                                        "ID": "817e0314-97fc-4d3f-855b-14fbb89de2ba",
                                        "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                        "Name": "Sheree Bond",
                                        "JobTitle": nil,
                                        "Phone": "0800 4389376",
                                        "MobilePhone": nil,
                                        "Fax": "03 4389379",
                                        "Email": "accounts@diisr.govt",
                                        "Website": nil,
                                        "Default": true,
                                        "Comment": nil,
                                        "IncludeInEmail": false
                                    }
                                ]
                            }
                          ]
                        }'
        '400':
          $ref: '#/components/responses/400Error'
    put:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: updateCustomer
      summary: Allows you to update a customer
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a customer object with properties to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
            example: '{
                        "ID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                        "Name": "DIISR - Small Business Services customer",
                        "Currency": "AUD",
                        "PaymentTerm": "30 days",
                        "Discount": 0,
                        "TaxRule": "GST Free Exports",
                        "Carrier": "DEFAULT Carrier",
                        "SalesRepresentative": nil,
                        "Location": "Main Warehouse",
                        "Comments": nil,
                        "AccountReceivable": "610",
                        "RevenueAccount": "200",
                        "PriceTier": "Tier 1",
                        "TaxNumber": nil,
                        "AdditionalAttribute1": nil,
                        "AdditionalAttribute2": nil,
                        "AdditionalAttribute3": nil,
                        "AdditionalAttribute4": nil,
                        "AdditionalAttribute5": nil,
                        "AdditionalAttribute6": nil,
                        "AdditionalAttribute7": nil,
                        "AdditionalAttribute8": nil,
                        "AdditionalAttribute9": nil,
                        "AdditionalAttribute10": nil,
                        "AttributeSet": nil,
                        "Tags": nil,
                        "Status": "Active",
                        "Addresses": [
                            {
                                "ID": "4bc4e423-d8af-454d-a186-4a827c15bd0b",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Line1": "L3, Southbank House",
                                "Line2": "13 Gallery Ave",
                                "City": "Melbourne",
                                "State": "VIC",
                                "Postcode": "3131",
                                "Country": nil,
                                "Type": "Business",
                                "DefaultForType": true
                            },
                            {
                                "ID": "35cec087-04da-46b5-b3c8-c3a7311f2417",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Line1": "L3, Southbank House",
                                "Line2": "13 Gallery Ave",
                                "City": "Melbourne",
                                "State": "VIC",
                                "Postcode": "3131",
                                "Country": nil,
                                "Type": "Billing",
                                "DefaultForType": true
                            }
                        ],
                        "Contacts": [
                            {
                                "ID": "1d62f59b-657d-423f-ad95-9ad9ec4f29a3",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Name": "Sheree Bond",
                                "JobTitle": nil,
                                "Phone": "0800 4389376",
                                "MobilePhone": nil,
                                "Fax": "03 4389379",
                                "Email": "accounts@diisr.govt",
                                "Website": nil,
                                "Default": true,
                                "Comment": nil,
                                "IncludeInEmail": false
                            }
                        ]
                    }'
      responses:
        '200':
          description: Success - return response of type Customers array with updated Customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "CustomerList": [
                              {
                                  "ID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                  "Name": "DIISR - Small Business Services customer",
                                  "Currency": "AUD",
                                  "PaymentTerm": "30 days",
                                  "Discount": 0,
                                  "TaxRule": "GST Free Exports",
                                  "Carrier": "DEFAULT Carrier",
                                  "SalesRepresentative": nil,
                                  "Location": "Main Warehouse",
                                  "Comments": "",
                                  "AccountReceivable": "610",
                                  "RevenueAccount": "200",
                                  "PriceTier": "Tier 1",
                                  "TaxNumber": "",
                                  "AdditionalAttribute1": "",
                                  "AdditionalAttribute2": "",
                                  "AdditionalAttribute3": "",
                                  "AdditionalAttribute4": "",
                                  "AdditionalAttribute5": "",
                                  "AdditionalAttribute6": "",
                                  "AdditionalAttribute7": "",
                                  "AdditionalAttribute8": "",
                                  "AdditionalAttribute9": "",
                                  "AdditionalAttribute10": "",
                                  "AttributeSet": nil,
                                  "Tags": "",
                                  "Status": "Active",
                                  "LastModifiedOn": "2018-01-31T06:20:43.46Z",
                                  "CreditLimit": 0
                                  "Addresses": [
                                      {
                                          "ID": "35cec087-04da-46b5-b3c8-c3a7311f2417",
                                          "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                          "Line1": "L3, Southbank House",
                                          "Line2": "13 Gallery Ave",
                                          "City": "Melbourne",
                                          "State": "VIC",
                                          "Postcode": "3131",
                                          "Country": nil,
                                          "Type": "Billing",
                                          "DefaultForType": true
                                      },
                                      {
                                          "ID": "4bc4e423-d8af-454d-a186-4a827c15bd0b",
                                          "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                          "Line1": "L3, Southbank House",
                                          "Line2": "13 Gallery Ave",
                                          "City": "Melbourne",
                                          "State": "VIC",
                                          "Postcode": "3131",
                                          "Country": nil,
                                          "Type": "Business",
                                          "DefaultForType": true
                                      }
                                  ],
                                  "Contacts": [
                                      {
                                          "ID": "1d62f59b-657d-423f-ad95-9ad9ec4f29a3",
                                          "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                          "Name": "Sheree Bond",
                                          "JobTitle": nil,
                                          "Phone": "0800 4389376",
                                          "MobilePhone": nil,
                                          "Fax": "03 4389379",
                                          "Email": "accounts@diisr.govt",
                                          "Website": nil,
                                          "Default": true,
                                          "Comment": nil,
                                          "IncludeInEmail": false
                                      }
                                  ]
                              }
                          ]
                      }'
        '400':
          $ref: '#/components/responses/400Error'
  /ref/paymentterm:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: getPaymentTerms
      summary: Allows you to retrieve the payment terms
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/method'
        - $ref: '#/components/parameters/isActive'
        - $ref: '#/components/parameters/isDefault'
      responses:
        '200':
          description: Success - return response of type Payment Terms array with 0 to n Payment Terms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTerms'
              example: '{
                          "Total": 3,
                          "Page": 1,
                          "PaymentTermList": [
                            {
                              "ID": "e6c25fa9-bb14-45b2-afe7-428e454663ef",
                              "Name": "10 days since end of month",
                              "Duration": 10,
                              "Method": "days since the end of the month",
                              "IsActive": true,
                              "IsDefault": false
                            },
                            {
                              "ID": "927a7013-e1d9-4194-a547-28b1b4c6b413",
                              "Name": "30 days",
                              "Duration": 30,
                              "Method": "number of days",
                              "IsActive": true,
                              "IsDefault": false
                            },
                            {
                              "ID": "1845c010-e8a3-4c51-a0be-a1211f406442",
                              "Name": "Last day of the month",
                              "Duration": 10,
                              "Method": "last day of next month",
                              "IsActive": true,
                              "IsDefault": false
                            }
                          ]
                        }'
    post:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: createPaymentTerm
      summary: Allows you to create a payment term
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a payment term object with properties to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTerm'
            example: '{
                        "Name": "5 days since end of month",
                        "Duration": 5,
                        "Method": "days since the end of the month",
                        "IsActive": true,
                        "IsDefault": false
                      }'
      responses:
        '200':
          description: Success - return response of type Payment Terms array with newly created Payment Term
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTerms'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "PaymentTermList": [
                            {
                              "ID": "e6c25fa9-bb14-45b2-afe7-428e454663ef",
                              "Name": "5 days since end of month",
                              "Duration": 5,
                              "Method": "days since the end of the month",
                              "IsActive": true,
                              "IsDefault": false
                            }
                          ]
                        }'
        '400':
          $ref: '#/components/responses/400Error'
    put:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: updatePaymentTerm
      summary: Allows you to update a payment term
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a payment term object with properties to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTerm'
            example: '{
                        "ID": "e6c25fa9-bb14-45b2-afe7-428e454663ef",
                        "Name": "10 days since end of month",
                        "Duration": 10,
                        "Method": "days since the end of the month",
                        "IsActive": true,
                        "IsDefault": true
                      }'
      responses:
        '200':
          description: Success - return response of type Payment Terms array with updated Payment Term
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTerms'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "PaymentTermList": [
                            {
                              "ID": "e6c25fa9-bb14-45b2-afe7-428e454663ef",
                              "Name": "10 days since end of month",
                              "Duration": 10,
                              "Method": "days since the end of the month",
                              "IsActive": true,
                              "IsDefault": true
                            }
                          ]
                        }'
        '400':
          $ref: '#/components/responses/400Error'
    delete:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: deletePaymentTerm
      summary: Allows you to delete a payment term
      parameters:
        - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Success - delete existing Payment Term and return response of type Payment Terms array with deleted Payment Term
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
              example: '{
                          "Success": true
                        }'
        '400':
          $ref: '#/components/responses/400Error'
  /ref/tax:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: getTaxes
      summary: Allows you to retrieve the taxes
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/isActive'
        - $ref: '#/components/parameters/isTaxForSale'
        - $ref: '#/components/parameters/isTaxForPurchase'
        - $ref: '#/components/parameters/account'
      responses:
        '200':
          description: Success - return response of type Taxes array with 0 to n Taxes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Taxes'
              example: '{
                          "Total": 2,
                          "Page": 1,
                          "TaxRuleList": [
                            {
                              "ID": "9d707beb-19cf-4d7b-a5d9-9eaff05c504c",
                              "Name": "GST on Income",
                              "Account": "820",
                              "IsActive": true,
                              "TaxInclusive": false,
                              "TaxPercent": 10,
                              "IsTaxForSale": true,
                              "IsTaxForPurchase": false,
                              "Components": [
                                {
                                  "ID": "B1151EEA-3364-4534-88E6-DF2C6B59A6D8",
                                  "Name": "Tax",
                                  "Percent": "10.0000000000",
                                  "AccountCode": "0",
                                  "ComponentOrder": "1"
                                }
                              ]
                            },
                            {
                              "ID": "d4d53cdf-4b87-4b67-9c17-733fc5419a2a",
                              "Name": "Tax test",
                              "Account": "820",
                              "IsActive": true,
                              "TaxInclusive": false,
                              "TaxPercent": 0,
                              "IsTaxForSale": false,
                              "IsTaxForPurchase": true,
                              "Components": [
                                {
                                  "ID": "534AC4D9-6F37-448A-971E-DF1C2B21FB64",
                                  "Name": "No Tax",
                                  "Percent": "0.0000000000",
                                  "AccountCode": "",
                                  "Compound": "0",
                                  "ComponentOrder": "1"
                                }
                              ]
                            }
                          ]
                        }'
    post:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: createTax
      summary: Allows you to create a tax
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a tax object with properties to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tax'
            example: '{
                        "Name": "Post test",
                        "Account": "800",
                        "IsActive": true,
                        "TaxInclusive": false,
                        "TaxPercent": 35,
                        "IsTaxForSale": true,
                        "IsTaxForPurchase": true,
                        "Components": [
                          {
                            "Name": "Tax 1st",
                            "Percent": "10.0000000000",
                            "AccountCode": "800",
                            "Compound": "1",
                            "ComponentOrder": "1"
                          },
                          {
                            "Name": "Tax 2nd",
                            "Percent": "15.0000000000",
                            "AccountCode": "800",
                            "Compound": "0",
                            "ComponentOrder": "2"
                          }
                        ]
                      }'
      responses:
        '200':
          description: Success - return response of type Taxes array with newly created Tax
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Taxes'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "TaxRuleList": [
                            {
                              "ID": "24551562-ebd1-4294-a04a-3ab258f5e541",
                              "Name": "Post test",
                              "Account": "800",
                              "IsActive": true,
                              "TaxInclusive": false,
                              "TaxPercent": 35,
                              "IsTaxForSale": true,
                              "IsTaxForPurchase": true,
                              "Components": [
                                {
                                  "ID": "0119E1C0-504A-429B-B4E2-4EEC02A9E88A",
                                  "Name": "Tax 1st",
                                  "Percent": "10.0000000000",
                                  "AccountCode": "800",
                                  "Compound": "1",
                                  "ComponentOrder": "1"
                                },
                                {
                                  "ID": "0B6D5C0F-D8EF-41FF-86D2-A05E5616FC61",
                                  "Name": "Tax 2nd",
                                  "Percent": "15.0000000000",
                                  "AccountCode": "800",
                                  "Compound": "0",
                                  "ComponentOrder": "2"
                                }
                              ]
                            }
                          ]
                        }'
        '400':
          $ref: '#/components/responses/400Error'
    put:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: updateTax
      summary: Allows you to update a tax
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a tax object with properties to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tax'
            example: '{
                        "ID": "24551562-ebd1-4294-a04a-3ab258f5e541",
                        "Name": "PUT test",
                        "Account": "800",
                        "IsActive": true,
                        "TaxInclusive": false,
                        "TaxPercent": 55,
                        "IsTaxForSale": true,
                        "IsTaxForPurchase": true,
                        "Components": [
                          {
                            "ID": "0119E1C0-504A-429B-B4E2-4EEC02A9E88A",
                            "Name": "Tax 1st",
                            "Percent": "20.0000000000",
                            "AccountCode": "800",
                            "Compound": "1",
                            "ComponentOrder": "1"
                          },
                          {
                            "ID": "0B6D5C0F-D8EF-41FF-86D2-A05E5616FC61",
                            "Name": "Tax 2nd",
                            "Percent": "35.0000000000",
                            "AccountCode": "800",
                            "Compound": "0",
                            "ComponentOrder": "2"
                          }
                        ]
                      }'
      responses:
        '200':
          description: Success - return response of type Taxes array with updated Tax
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Taxes'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "TaxRuleList": [
                            {
                              "ID": "24551562-ebd1-4294-a04a-3ab258f5e541",
                              "Name": "PUT test",
                              "Account": "800",
                              "IsActive": true,
                              "TaxInclusive": false,
                              "TaxPercent": 55,
                              "IsTaxForSale": true,
                              "IsTaxForPurchase": true,
                              "Components": [
                                {
                                  "ID": "0119E1C0-504A-429B-B4E2-4EEC02A9E88A",
                                  "Name": "Tax 1st",
                                  "Percent": "20.0000000000",
                                  "AccountCode": "800",
                                  "Compound": "1",
                                  "ComponentOrder": "1"
                                },
                                {
                                  "ID": "0B6D5C0F-D8EF-41FF-86D2-A05E5616FC61",
                                  "Name": "Tax 2nd",
                                  "Percent": "35.0000000000",
                                  "AccountCode": "800",
                                  "Compound": "0",
                                  "ComponentOrder": "2"
                                }
                              ]
                            }
                          ]
                        }'
        '400':
          $ref: '#/components/responses/400Error'
  /ref/account:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: getAccounts
      summary: Allows you to retrieve the Chart of Accounts
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/code'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/class'
        - $ref: '#/components/parameters/type'
        - $ref: '#/components/parameters/status'
      responses:
        '200':
          description: Success - return response of type Chart of Accounts array with 0 to n Chart of Accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
              example: '{
                          "Total": 3,
                          "Page": 1,
                          "AccountsList": [
                            {
                              "Code": "800",
                              "Status": "ACTIVE",
                              "Name": "Accounts Payable",
                              "Type": "CURRLIAB",
                              "Description": "Outstanding invoices the company has received from suppliers but has not yet paid at balance date",
                              "Class": "LIABILITY",
                              "SystemAccount": "CREDITORS",
                              "BankAccountNumber": null,
                              "BankAccountId": null,
                              "ForPayments": false,
                              "DisplayName": "800: Accounts Payable",
                              "OldCode": null
                            },
                            {
                              "Code": "610",
                              "Status": "ACTIVE",
                              "Name": "Accounts Receivable",
                              "Type": "CURRENT",
                              "Description": "Outstanding invoices the company has issued out to the client but has not yet received in cash at balance date.",
                              "Class": "ASSET",
                              "SystemAccount": "DEBTORS",
                              "BankAccountNumber": null,
                              "BankAccountId": null,
                              "ForPayments": false,
                              "DisplayName": "610: Accounts Receivable",
                              "OldCode": null
                            },
                            {
                              "Code": "400",
                              "Status": "ACTIVE",
                              "Name": "Advertising",
                              "Type": "EXPENSE",
                              "Description": "Expenses incurred for advertising while trying to increase sales",
                              "Class": "EXPENSE",
                              "SystemAccount": null,
                              "BankAccountNumber": null,
                              "BankAccountId": null,
                              "ForPayments": false,
                              "DisplayName": "400: Advertising",
                              "OldCode": null
                            }
                          ]
                        }'
    post:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: createAccount
      summary: Allows you to create an Account
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: an Account object with properties to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
            example: '{
                        "Code": "001",
                        "Status": "ACTIVE",
                        "Name": "Accounts Payable test",
                        "Type": "CURRLIAB",
                        "Description": "Outstanding invoices the company has received from suppliers but has not yet paid at balance date",
                        "Class": "LIABILITY",
                        "SystemAccount": "CREDITORS",
                      }'
      responses:
        '200':
          description: Success - return response of type Accounts array with newly created Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "AccountsList": [
                            {
                              "Code": "001",
                              "Status": "ACTIVE",
                              "Name": "Accounts Payable test",
                              "Type": "CURRLIAB",
                              "Description": "Outstanding invoices the company has received from suppliers but has not yet paid at balance date",
                              "Class": "LIABILITY",
                              "SystemAccount": "CREDITORS",
                              "BankAccountNumber": null,
                              "BankAccountId": null,
                              "ForPayments": false,
                              "DisplayName": "001: Accounts Payable test",
                              "OldCode": null
                            }
                          ]
                        }'
        '400':
          $ref: '#/components/responses/400Error'
    put:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: updateAccount
      summary: Allows you to update an Account
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: an Account object with properties to update
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
            example: '{
                        "Code": "001",
                        "Status": "ACTIVE",
                        "Name": "Accounts Payable put test",
                        "Type": "CURRLIAB",
                        "Description": "Put test description",
                        "Class": "LIABILITY",
                        "SystemAccount": "CREDITORS"
                      }'
      responses:
        '200':
          description: Success - return response of type Accounts array with updated Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "AccountsList": [
                            {
                              "Code": "001",
                              "Status": "ACTIVE",
                              "Name": "Accounts Payable put test",
                              "Type": "CURRLIAB",
                              "Description": "Put test description",
                              "Class": "LIABILITY",
                              "SystemAccount": "CREDITORS",
                              "BankAccountNumber": null,
                              "BankAccountId": null,
                              "ForPayments": false,
                              "DisplayName": "001: Accounts Payable put test",
                              "OldCode": null
                            }
                          ]
                        }'
        '400':
          $ref: '#/components/responses/400Error'
    delete:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: deleteAccount
      summary: Allows you to delete an Account
      parameters:
        - $ref: '#/components/parameters/code'
      responses:
        '200':
          description: Success - delete existing Account and return response of type Accounts array with deleted Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
              example: '{
                          "Success": true
                        }'
        '400':
          $ref: '#/components/responses/400Error'
  /me:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: getMe
      summary: Allows you to retrieve your information
      responses:
        '200':
          description: Success - return response of type Customers array with 0 to n Customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
              example: '{
                          "Company": "My",
                          "Currency": "RUB",
                          "TimeZone": "Etc/GMT",
                          "DefaultWeightUnits": "oz",
                          "DefaultDimensionsUnits": "m",
                          "LockDate": null,
                          "OpeningBalanceDate": "2017-11-30T00:00:00Z"
                        }'
  /ref/priceTier:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: getPriceTiers
      summary: Allows you to retrieve the Price Tiers
      responses:
        '200':
          description: Success - return response of Price Tiers array with n Price Tiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceTiers'
              example: '{
                          "PriceTiers": [
                            {
                              "Code": 1,
                              "Name": "Tier 1"
                            },
                            {
                              "Code": 2,
                              "Name": "Tier 2"
                            },
                            {
                              "Code": 3,
                              "Name": "Tier 3"
                            },
                            {
                              "Code": 4,
                              "Name": "Tier 4"
                            },
                            {
                              "Code": 5,
                              "Name": "Tier 5"
                            },
                            {
                              "Code": 6,
                              "Name": "Tier 6"
                            },
                            {
                              "Code": 7,
                              "Name": "Tier 7"
                            },
                            {
                              "Code": 8,
                              "Name": "Tier 8"
                            },
                            {
                              "Code": 9,
                              "Name": "Tier 9"
                            },
                            {
                              "Code": 10,
                              "Name": "Tier 10"
                            }
                          ]
                        }'
  # /sale:
  #   get:
  #     security:
  #       - accountID: []
  #         appKey: []
  #     tags:
  #       - Inventory
  #     operationId: getSale
  #     summary: Allows you to retrieve the Sale
  #     parameters:
  #       - $ref: '#/components/parameters/id'
  #       - $ref: '#/components/parameters/combineAdditionalCharges'
  #       - $ref: '#/components/parameters/hideInventoryMovements'
  #       - $ref: '#/components/parameters/includeTransactions'
  #     responses:
  #       '200':
  #         description: Success - Returns Sale
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Sale'
  #             example: '{
  #               "ID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
  #               "Customer": "Hamilton Smith Pty",
  #               "CustomerID": "6c18f8e9-90e1-418f-aebc-1219e67e4b9c",
  #               "Contact": "No Name",
  #               "Phone": "03 3189080",
  #               "Email": "infodemo@hsmithdemo.co",
  #               "DefaultAccount": "200",
  #               "SkipQuote": false,
  #               "BillingAddress": {
  #                 "DisplayAddressLine1": "3 Park Street Industrial Village Southbank",
  #                 "DisplayAddressLine2": "Melbourne VIC 3331",
  #                 "Line1": "3 Park Street Industrial Village",
  #                 "Line2": "Southbank",
  #                 "City": "Melbourne",
  #                 "State": "VIC",
  #                 "Postcode": "3331",
  #                 "Country": "USA"
  #               },
  #               "ShippingAddress": {
  #                 "DisplayAddressLine1": "3 Park Street Industrial Village Southbank",
  #                 "DisplayAddressLine2": "Melbourne VIC 3331",
  #                 "Line1": "3 Park Street Industrial Village",
  #                 "Line2": "Southbank",
  #                 "City": "Melbourne",
  #                 "State": "VIC",
  #                 "Postcode": "3331",
  #                 "Country": "USA",
  #                 "Company": "DIISR - Small Business Services",
  #                 "Contact": "Sheree Bond",
  #                 "ShipToOther": false
  #               },
  #               "ShippingNotes": "",
  #               "BaseCurrency": "RUB",
  #               "CustomerCurrency": "RUB",
  #               "TaxRule": "Tax on Sales",
  #               "TaxCalculation": "Exclusive",
  #               "Terms": "30 days",
  #               "PriceTier": "Tier 1",
  #               "ShipBy": "2017-11-30T00:00:00Z",
  #               "Location": "Main Warehouse",
  #               "SaleOrderDate": "2017-10-28T00:00:00Z",
  #               "LastModifiedOn": "2017-11-22T10:10:49.75Z",
  #               "Note": "",
  #               "CustomerReference": "",
  #               "COGSAmount": 0,
  #               "Status": "ORDERED",
  #               "CombinedPickingStatus": "NOT AVAILABLE",
  #               "CombinedPackingStatus": "NOT AVAILABLE",
  #               "CombinedShippingStatus": "NOT AVAILABLE",
  #               "FulFilmentStatus": "NOT AVAILABLE",
  #               "CombinedInvoiceStatus": "NOT AVAILABLE",
  #               "CombinedPaymentStatus": "UNPAID",
  #               "CombinedTrackingNumbers": "",
  #               "Carrier": "test carrier",
  #               "CurrencyRate": 1,
  #               "SalesRepresentative": "DEFAULT billing contact",
  #               "ServiceOnly": false,
  #               "Type": "Advanced Sale",
  #               "SourceChannel": "Amazon_US",
  #               "Quote": {
  #                 "Memo": "",
  #                 "Status": "AUTHORISED",
  #                 "Prepayments": [],
  #                 "Lines": [
  #                   {
  #                     "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                     "SKU": "Bread",
  #                     "Name": "Baked Bread",
  #                     "Quantity": 1,
  #                     "Price": 8,
  #                     "Discount": 0,
  #                     "Tax": 0,
  #                     "AverageCost": 5,
  #                     "TaxRule": "Tax on Sales",
  #                     "Comment": "",
  #                     "Total": 8,
  #                     "ProductLength": 0,
  #                     "ProductWidth": 0,
  #                     "ProductHeight": 0,
  #                     "ProductWeight": 0,
  #                     "WeightUnits": "",
  #                     "DimensionsUnits": "",
  #                     "ProductCustomField1": null,
  #                     "ProductCustomField2": null,
  #                     "ProductCustomField3": null,
  #                     "ProductCustomField4": null,
  #                     "ProductCustomField5": null,
  #                     "ProductCustomField6": null,
  #                     "ProductCustomField7": null,
  #                     "ProductCustomField8": null,
  #                     "ProductCustomField9": null,
  #                     "ProductCustomField10": null
  #                   }
  #                 ],
  #                 "AdditionalCharges": [
  #                   {
  #                     "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
  #                     "Price": 350,
  #                     "Quantity": 1,
  #                     "Discount": 0,
  #                     "Tax": 0,
  #                     "Total": 350,
  #                     "TaxRule": "Tax on Sales",
  #                     "Comment": ""
  #                   }
  #                 ],
  #                 "TotalBeforeTax": 358,
  #                 "Tax": 0,
  #                 "Total": 358
  #               },
  #               "Order": {
  #                 "SaleOrderNumber": "SO-00001",
  #                 "Memo": "",
  #                 "Status": "AUTHORISED",
  #                 "Lines": [
  #                   {
  #                     "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                     "SKU": "Bread",
  #                     "Name": "Baked Bread",
  #                     "Quantity": 1,
  #                     "Price": 8,
  #                     "Discount": 0,
  #                     "Tax": 0,
  #                     "AverageCost": 5,
  #                     "TaxRule": "Tax on Sales",
  #                     "Comment": "",
  #                     "DropShip": false,
  #                     "Backorder": false,
  #                     "BackorderQuantity": 0,
  #                     "Total": 8,
  #                     "ProductLength": 0,
  #                     "ProductWidth": 0,
  #                     "ProductHeight": 0,
  #                     "ProductWeight": 0,
  #                     "WeightUnits": "",
  #                     "DimensionsUnits": "",
  #                     "ProductCustomField1": null,
  #                     "ProductCustomField2": null,
  #                     "ProductCustomField3": null,
  #                     "ProductCustomField4": null,
  #                     "ProductCustomField5": null,
  #                     "ProductCustomField6": null,
  #                     "ProductCustomField7": null,
  #                     "ProductCustomField8": null,
  #                     "ProductCustomField9": null,
  #                     "ProductCustomField10": null
  #                   }
  #                 ],
  #                 "AdditionalCharges": [
  #                   {
  #                     "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
  #                     "Price": 350,
  #                     "Quantity": 1,
  #                     "Discount": 0,
  #                     "Tax": 0,
  #                     "Total": 350,
  #                     "TaxRule": "Tax on Sales",
  #                     "Comment": ""
  #                   }
  #                 ],
  #                 "TotalBeforeTax": 8,
  #                 "Tax": 0,
  #                 "Total": 8
  #               },
  #               "Fulfilments": [
  #                 {
  #                   "TaskID": "cde5fb4a-1dac-4e9a-bc33-5dfa14eedb57",
  #                   "FulfillmentNumber": 1,
  #                   "LinkedInvoiceNumber": "INV-00001",
  #                   "FulFilmentStatus": "NOT FULFILLED",
  #                   "Pick": {
  #                     "Status": "DRAFT",
  #                     "Lines": [
  #                       {
  #                         "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                         "SKU": "Bread",
  #                         "Name": "Baked Bread",
  #                         "Location": "Main Warehouse",
  #                         "LocationID": "19aeca31-bd49-4fbe-8abd-37a6169cc2cb",
  #                         "Quantity": 1,
  #                         "BatchSN": "PO-00001-1",
  #                         "ExpiryDate": "2017-11-30T00:00:00Z",
  #                         "ProductLength": 0,
  #                         "ProductWidth": 0,
  #                         "ProductHeight": 0,
  #                         "ProductWeight": 0,
  #                         "WeightUnits": "",
  #                         "DimensionsUnits": "",
  #                         "ProductCustomField1": null,
  #                         "ProductCustomField2": null,
  #                         "ProductCustomField3": null,
  #                         "ProductCustomField4": null,
  #                         "ProductCustomField5": null,
  #                         "ProductCustomField6": null,
  #                         "ProductCustomField7": null,
  #                         "ProductCustomField8": null,
  #                         "ProductCustomField9": null,
  #                         "ProductCustomField10": null
  #                       }
  #                     ]
  #                   },
  #                   "Pack": {
  #                     "Status": "NOT AVAILABLE",
  #                     "Lines": [
  #                       {
  #                         "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                         "SKU": "Bread",
  #                         "Name": "Baked Bread",
  #                         "Location": "Main Warehouse",
  #                         "LocationID": "19aeca31-bd49-4fbe-8abd-37a6169cc2cb",
  #                         "Box": "Box 1",
  #                         "Quantity": 1,
  #                         "BatchSN": "PO-00001-1",
  #                         "ExpiryDate": "2017-11-30T00:00:00Z",
  #                         "ProductLength": 0,
  #                         "ProductWidth": 0,
  #                         "ProductHeight": 0,
  #                         "ProductWeight": 0,
  #                         "WeightUnits": "",
  #                         "DimensionsUnits": "",
  #                         "ProductCustomField1": null,
  #                         "ProductCustomField2": null,
  #                         "ProductCustomField3": null,
  #                         "ProductCustomField4": null,
  #                         "ProductCustomField5": null,
  #                         "ProductCustomField6": null,
  #                         "ProductCustomField7": null,
  #                         "ProductCustomField8": null,
  #                         "ProductCustomField9": null,
  #                         "ProductCustomField10": null
  #                       }
  #                     ]
  #                   },
  #                   "Ship": {
  #                     "Status": "NOT AVAILABLE",
  #                     "RequireBy": null,
  #                     "ShippingAddress": {
  #                       "DisplayAddressLine1": "Line 1 Lines 2",
  #                       "DisplayAddressLine2": "City State Code Russia",
  #                       "Line1": "Line 1",
  #                       "Line2": "Lines 2",
  #                       "City": "City",
  #                       "State": "State",
  #                       "Postcode": "Code",
  #                       "Country": "Russia",
  #                       "Company": "DIISR - Small Business Services",
  #                       "Contact": "Sheree Bond",
  #                       "ShipToOther": false
  #                     },
  #                     "ShippingNotes": "",
  #                     "Lines": [
  #                       {
  #                         "ID": "67f67884-8115-4546-93c9-48230f24bd56",
  #                         "ShipmentDate": "2017-11-22T00:00:00Z",
  #                         "Carrier": "DEFAULT Carrier",
  #                         "Boxes": "Box 1",
  #                         "TrackingNumber": "",
  #                         "TrackingURL": "",
  #                         "IsShipped": true
  #                       }
  #                     ]
  #                   }
  #                 }
  #               ],
  #               "Invoices": [
  #                 {
  #                   "TaskID": "b039f19e-66f8-4309-a4b1-abf928303c88",
  #                   "InvoiceNumber": "INV-00001",
  #                   "Memo": "",
  #                   "Status": "AUTHORISED",
  #                   "InvoiceDate": "2017-11-22T00:00:00Z",
  #                   "InvoiceDueDate": "2017-12-22T00:00:00Z",
  #                   "CurrencyConversionRate": 1,
  #                   "BillingAddressLine1": "3 Park Street Industrial Village Southbank",
  #                   "BillingAddressLine2": "Melbourne VIC 3331",
  #                   "LinkedFulfillmentNumber": "1",
  #                   "Lines": [
  #                     {
  #                       "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                       "SKU": "Bread",
  #                       "Name": "Baked Bread",
  #                       "Quantity": 1,
  #                       "Price": 8,
  #                       "Discount": 0,
  #                       "Tax": 0,
  #                       "Total": 8,
  #                       "AverageCost": 5,
  #                       "TaxRule": "Tax on Sales",
  #                       "Account": "200",
  #                       "Comment": "",
  #                       "ProductLength": 0,
  #                       "ProductWidth": 0,
  #                       "ProductHeight": 0,
  #                       "ProductWeight": 0,
  #                       "WeightUnits": "",
  #                       "DimensionsUnits": "",
  #                       "ProductCustomField1": null,
  #                       "ProductCustomField2": null,
  #                       "ProductCustomField3": null,
  #                       "ProductCustomField4": null,
  #                       "ProductCustomField5": null,
  #                       "ProductCustomField6": null,
  #                       "ProductCustomField7": null,
  #                       "ProductCustomField8": null,
  #                       "ProductCustomField9": null,
  #                       "ProductCustomField10": null
  #                     }
  #                   ],
  #                   "AdditionalCharges": [
  #                     {
  #                       "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
  #                       "Quantity": 1,
  #                       "Price": 350,
  #                       "Discount": 0,
  #                       "Tax": 0,
  #                       "Total": 350,
  #                       "TaxRule": "Tax on Sales",
  #                       "Account": "200",
  #                       "Comment": ""
  #                     }
  #                   ],
  #                   "Payments": [],
  #                   "TotalBeforeTax": 358,
  #                   "Tax": 0,
  #                   "Total": 358,
  #                   "Paid": 0
  #                 }
  #               ],
  #               "CreditNotes": [
  #                 {
  #                   "TaskID": "280fba91-281c-4416-ad43-674ae2d17355",
  #                   "CreditNoteInvoiceNumber": "INV-00001",
  #                   "Memo": "",
  #                   "Status": "DRAFT",
  #                   "CreditNoteDate": "2017-11-22T00:00:00Z",
  #                   "CreditNoteNumber": "CR-00001",
  #                   "CreditNoteConversionRate": 1,
  #                   "Lines": [
  #                     {
  #                       "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                       "SKU": "Bread",
  #                       "Name": "Baked Bread",
  #                       "Quantity": 1,
  #                       "Price": 8,
  #                       "Discount": 0,
  #                       "Tax": 0,
  #                       "Total": 8,
  #                       "AverageCost": 5,
  #                       "TaxRule": "Tax on Sales",
  #                       "Account": "200",
  #                       "Comment": "",
  #                       "ProductLength": 0,
  #                       "ProductWidth": 0,
  #                       "ProductHeight": 0,
  #                       "ProductWeight": 0,
  #                       "WeightUnits": "",
  #                       "DimensionsUnits": "",
  #                       "ProductCustomField1": null,
  #                       "ProductCustomField2": null,
  #                       "ProductCustomField3": null,
  #                       "ProductCustomField4": null,
  #                       "ProductCustomField5": null,
  #                       "ProductCustomField6": null,
  #                       "ProductCustomField7": null,
  #                       "ProductCustomField8": null,
  #                       "ProductCustomField9": null,
  #                       "ProductCustomField10": null
  #                     }
  #                   ],
  #                   "AdditionalCharges": [
  #                     {
  #                       "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
  #                       "Quantity": 1,
  #                       "Price": 350,
  #                       "Discount": 0,
  #                       "Tax": 0,
  #                       "Total": 350,
  #                       "TaxRule": "Tax on Sales",
  #                       "Account": "200",
  #                       "Comment": ""
  #                     }
  #                   ],
  #                   "Refunds": [
  #                     {
  #                       "ID": "20d5ff25-afa2-cd74-96d7-c7f0dd1fa1c1",
  #                       "Reference": "",
  #                       "Amount": 358,
  #                       "DatePaid": "2017-11-23T00:00:00Z",
  #                       "Account": "718",
  #                       "CurrencyRate": 1,
  #                       "DateCreated": "2017-11-22T06:58:21.8882229Z"
  #                     }
  #                   ],
  #                   "Restock": [
  #                     {
  #                       "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                       "SKU": "Bread",
  #                       "Name": "Baked Bread",
  #                       "Location": "Main Warehouse",
  #                       "LocationID": "19aeca31-bd49-4fbe-8abd-37a6169cc2cb",
  #                       "Quantity": 1,
  #                       "BatchSN": "PO-00001-1",
  #                       "ExpiryDate": "2017-11-30T00:00:00Z",
  #                       "RestockDate": "2017-11-30T00:00:00Z",
  #                       "RestockLocationID": "19aeca31-bd49-4fbe-8abd-37a6169cc2cb",
  #                       "RestockLocation": "Main Warehouse"
  #                     }
  #                   ],
  #                   "TotalBeforeTax": 358,
  #                   "Tax": 0,
  #                   "Total": 358
  #                 }
  #               ],
  #               "ManualJournals": {
  #                 "Status": "NOT AVAILABLE",
  #                 "Lines": []
  #               },
  #               "ExternalID": null,
  #               "AdditionalAttributes": {
  #                 "AdditionalAttribute1": "",
  #                 "AdditionalAttribute2": "",
  #                 "AdditionalAttribute3": "",
  #                 "AdditionalAttribute4": "",
  #                 "AdditionalAttribute5": "",
  #                 "AdditionalAttribute6": "",
  #                 "AdditionalAttribute7": "",
  #                 "AdditionalAttribute8": "",
  #                 "AdditionalAttribute9": "",
  #                 "AdditionalAttribute10": ""
  #               },
  #               "Attachments": [
  #                 {
  #                   "ID": "1a103e3e-9837-4294-8cc3-640ebb4fc387",
  #                   "ContentType": "image/jpeg",
  #                   "FileName": "1471081716149.jpg",
  #                   "DownloadUrl": "https://example.api.url/Attachment/Download?ID=1a103e3e-9837-4294-8cc3-640ebb4fc387&ContentType=image/jpeg&FileName=1471081716149.jpg"
  #                 }
  #               ],
  #               "InventoryMovements": [
  #                 {
  #                   "TaskID": "cde5fb4a-1dac-4e9a-bc33-5dfa14eedb57",
  #                   "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                   "Date": "2017-11-22T00:00:00Z",
  #                   "COGS": 0,
  #                   "ProductLength": 0,
  #                   "ProductWidth": 0,
  #                   "ProductHeight": 0,
  #                   "ProductWeight": 0,
  #                   "WeightUnits": "",
  #                   "DimensionsUnits": "",
  #                   "ProductCustomField1": null,
  #                   "ProductCustomField2": null,
  #                   "ProductCustomField3": null,
  #                   "ProductCustomField4": null,
  #                   "ProductCustomField5": null,
  #                   "ProductCustomField6": null,
  #                   "ProductCustomField7": null,
  #                   "ProductCustomField8": null,
  #                   "ProductCustomField9": null,
  #                   "ProductCustomField10": null
  #                 },
  #                 {
  #                   "TaskID": "529511e7-6ed6-4a99-a2a7-fab1d32198eb",
  #                   "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                   "Date": "2017-11-22T00:00:00Z",
  #                   "COGS": 0,
  #                   "ProductLength": 0,
  #                   "ProductWidth": 0,
  #                   "ProductHeight": 0,
  #                   "ProductWeight": 0,
  #                   "WeightUnits": "",
  #                   "DimensionsUnits": "",
  #                   "ProductCustomField1": null,
  #                   "ProductCustomField2": null,
  #                   "ProductCustomField3": null,
  #                   "ProductCustomField4": null,
  #                   "ProductCustomField5": null,
  #                   "ProductCustomField6": null,
  #                   "ProductCustomField7": null,
  #                   "ProductCustomField8": null,
  #                   "ProductCustomField9": null,
  #                   "ProductCustomField10": null
  #                 },
  #                 {
  #                   "TaskID": "529511e7-6ed6-4a99-a2a7-fab1d32198eb",
  #                   "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
  #                   "Date": "2017-11-22T00:00:00Z",
  #                   "COGS": 0,
  #                   "ProductLength": 0,
  #                   "ProductWidth": 0,
  #                   "ProductHeight": 0,
  #                   "ProductWeight": 0,
  #                   "WeightUnits": "",
  #                   "DimensionsUnits": "",
  #                   "ProductCustomField1": null,
  #                   "ProductCustomField2": null,
  #                   "ProductCustomField3": null,
  #                   "ProductCustomField4": null,
  #                   "ProductCustomField5": null,
  #                   "ProductCustomField6": null,
  #                   "ProductCustomField7": null,
  #                   "ProductCustomField8": null,
  #                   "ProductCustomField9": null,
  #                   "ProductCustomField10": null
  #                 }
  #               ],
  #               "Transactions": [
  #                 {
  #                   "TaskID": "cc6e25b2-d9ad-434c-8d77-30f36f4cb7ed",
  #                   "TransactionID": "e960bd83-23e4-44d3-9762-0589a09407cf",
  #                   "Debit": "610",
  #                   "Credit": "200",
  #                   "Description": "3",
  #                   "Amount": 1,
  #                   "EffectiveDate": "2018-09-25T00:00:00Z"
  #                 },
  #                 {
  #                   "TaskID": "cc6e25b2-d9ad-434c-8d77-30f36f4cb7ed",
  #                   "TransactionID": "0ae21546-2491-4f98-a898-1e6f0af633bc",
  #                   "Debit": "610",
  #                   "Credit": "200",
  #                   "Description": "3",
  #                   "Amount": -1,
  #                   "EffectiveDate": "2018-09-25T00:00:00Z"
  #                 },
  #                 {
  #                   "TaskID": "cc6e25b2-d9ad-434c-8d77-30f36f4cb7ed",
  #                   "TransactionID": "6f278fc1-da3c-4bf0-9e13-31d5942b97c3",
  #                   "Debit": "610",
  #                   "Credit": "200",
  #                   "Description": "1",
  #                   "Amount": -2,
  #                   "EffectiveDate": "2018-09-25T00:00:00Z"
  #                 }
  #               ]
  #             }'
  #   post:
  #     security:
  #       - accountID: []
  #         appKey: []
  #     tags:
  #       - Inventory
  #     operationId: createSalePayment
  #     summary: Allows you to create a Sale Payment
  #     parameters:
  #       - $ref: '#/components/parameters/summarizeErrors'
  #     requestBody:
  #       description: a Sale Payment object with properties to create
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             $ref: '#/components/schemas/SalePayment'
  #           example: '{
  #             "TaskID": "4733ba69-21c5-48f5-95e5-307aa9889747",
  #             "Type": "Payment",
  #             "Reference": "",
  #             "Amount": 1,
  #             "DatePaid": "2017-11-30T00:00:00Z",
  #             "Account": "718",
  #             "CurrencyRate": 1
  #           }'
  #     responses:
  #       '200':
  #         description: Success - return response of type Sale Payment
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/SalePayment'
  #             example: '{
  #               "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
  #               "TaskID": "4733ba69-21c5-48f5-95e5-307aa9889747",
  #               "ID": "6d99006a-8965-4548-8743-0268b8130704",
  #               "SaleOrderNumber": "SO-00001",
  #               "InvoiceNumber": "INV-00005",
  #               "CreditNoteNumber": null,
  #               "Type": "Payment",
  #               "Reference": "",
  #               "Amount": 1,
  #               "DatePaid": "2017-11-30T00:00:00Z",
  #               "Account": "718",
  #               "CurrencyRate": 1,
  #               "DateCreated": "2017-11-28T06:10:37.5462677Z",
  #               "CreditID": null
  #             }'
  #       '400':
  #         $ref: '#/components/responses/400Error'
  #   put:
  #     security:
  #       - accountID: []
  #         appKey: []
  #     tags:
  #       - Inventory
  #     operationId: updateSalePayment
  #     summary: Allows you to update a sale payment
  #     parameters:
  #       - $ref: '#/components/parameters/summarizeErrors'
  #     requestBody:
  #       description: a sale payment object with properties to update
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             $ref: '#/components/schemas/SalePayment'
  #           example: '{
  #             "ID": "ee093a0c-d177-9728-1df5-628a61a939e4",
  #             "Reference": "",
  #             "Amount": 357,
  #             "DatePaid": "2017-11-30T00:00:00Z",
  #             "Account": "718",
  #             "CurrencyRate": 1,
  #           }'
  #     responses:
  #       '200':
  #         description: Success - return response of type Sale Payment
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/SalePayment'
  #             example: '{
  #               "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
  #               "TaskID": "4733ba69-21c5-48f5-95e5-307aa9889747",
  #               "ID": "ee093a0c-d177-9728-1df5-628a61a939e4",
  #               "SaleOrderNumber": "SO-00001",
  #               "InvoiceNumber": "INV-00005",
  #               "CreditNoteNumber": null,
  #               "Type": "Payment",
  #               "Reference": "",
  #               "Amount": 357,
  #               "DatePaid": "2017-11-30T00:00:00Z",
  #               "Account": "718",
  #               "CurrencyRate": 1,
  #               "DateCreated": "2017-11-28T05:08:30.6407568Z",
  #               "CreditID": null
  #             }'
  #       '400':
  #         $ref: '#/components/responses/400Error'
  #   delete:
  #     security:
  #       - accountID: []
  #         appKey: []
  #     tags:
  #       - Inventory
  #     operationId: deleteSalePayment
  #     summary: Allows you to delete a sale payment
  #     parameters:
  #       - $ref: '#/components/parameters/id'
  #     responses:
  #       '200':
  #         description: Success - delete existing sale payment
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Success'
  #             example: '{
  #               "Success": true
  #             }'
  #       '400':
  #         $ref: '#/components/responses/400Error'
  /sale/invoice:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: getSaleInvoices
      summary: Allows you to retrieve the sale invoices
      parameters:
        - $ref: '#/components/parameters/saleId'
        - $ref: '#/components/parameters/combineAdditionalCharges'
        - $ref: '#/components/parameters/includeProductInfo'
      responses:
        '200':
          description: Success - Returns Invoice info of a particular sale
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleInvoices'
              example: '{
                "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
                "Invoices": [
                  {
                    "TaskID": "b039f19e-66f8-4309-a4b1-abf928303c88",
                    "CombineAdditionalCharges": false,
                    "InvoiceNumber": "INV-00001",
                    "Memo": "",
                    "Status": "DRAFT",
                    "InvoiceDate": "2017-11-22T00:00:00Z",
                    "InvoiceDueDate": "2017-12-22T00:00:00Z",
                    "CurrencyConversionRate": 1,
                    "BillingAddressLine1": "3 Park Street Industrial Village Southbank",
                    "BillingAddressLine2": "Melbourne VIC 3331",
                    "LinkedFulfillmentNumber": "1",
                    "Lines": [
                      {
                        "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
                        "SKU": "Bread",
                        "Name": "Baked Bread",
                        "Quantity": 1,
                        "Price": 8,
                        "Discount": 0,
                        "Tax": 0,
                        "Total": 8,
                        "AverageCost": 5,
                        "TaxRule": "Tax on Sales",
                        "Account": "200",
                        "Comment": ""
                      }
                    ],
                    "AdditionalCharges": [
                      {
                        "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
                        "Quantity": 1,
                        "Price": 350,
                        "Discount": 0,
                        "Tax": 0,
                        "Total": 350,
                        "TaxRule": "Tax on Sales",
                        "Account": "200",
                        "Comment": ""
                      }
                    ]
                  }
                ]
              }'
    post:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: createSaleInvoice
      summary: Allows you to create a sale invoice
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a Sale Invoice object with properties to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleInvoicePost'
            example: '{
              "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
              "TaskID": "b039f19e-66f8-4309-a4b1-abf928303c88",
              "CombineAdditionalCharges": false,
              "Memo": "",
              "Status": "DRAFT",
              "InvoiceDate": "2017-11-22T00:00:00Z",
              "InvoiceDueDate": "2017-12-22T00:00:00Z",
              "CurrencyConversionRate": 1,
              "BillingAddressLine1": "3 Park Street Industrial Village Southbank",
              "BillingAddressLine2": "Melbourne VIC 3331",
              "LinkedFulfillmentNumber": "1",
              "Lines": [
                {
                  "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
                  "SKU": "Bread",
                  "Name": "Baked Bread",
                  "Quantity": 1,
                  "Price": 8,
                  "Discount": 0,
                  "Tax": 0,
                  "Total": 8,
                  "AverageCost": 5,
                  "TaxRule": "Tax on Sales",
                  "Account": "200",
                  "Comment": ""
                }
              ],
              "AdditionalCharges": [
                {
                  "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
                  "Quantity": 1,
                  "Price": 350,
                  "Discount": 0,
                  "Tax": 0,
                  "Total": 350,
                  "TaxRule": "Tax on Sales",
                  "Account": "200",
                  "Comment": ""
                }
              ]
            }'
      responses:
        '200':
          description: Success - return response of type Sale Invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleInvoices'
              example: '{
                "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
                "Invoices": [
                  {
                    "TaskID": "b039f19e-66f8-4309-a4b1-abf928303c88",
                    "CombineAdditionalCharges": false,
                    "InvoiceNumber": "INV-00001",
                    "Memo": "",
                    "Status": "DRAFT",
                    "InvoiceDate": "2017-11-22T00:00:00Z",
                    "InvoiceDueDate": "2017-12-22T00:00:00Z",
                    "CurrencyConversionRate": 1,
                    "BillingAddressLine1": "3 Park Street Industrial Village Southbank",
                    "BillingAddressLine2": "Melbourne VIC 3331",
                    "LinkedFulfillmentNumber": "1",
                    "Lines": [
                      {
                        "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
                        "SKU": "Bread",
                        "Name": "Baked Bread",
                        "Quantity": 1,
                        "Price": 8,
                        "Discount": 0,
                        "Tax": 0,
                        "Total": 8,
                        "AverageCost": 5,
                        "TaxRule": "Tax on Sales",
                        "Account": "200",
                        "Comment": ""
                      }
                    ],
                    "AdditionalCharges": [
                      {
                        "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
                        "Quantity": 1,
                        "Price": 350,
                        "Discount": 0,
                        "Tax": 0,
                        "Total": 350,
                        "TaxRule": "Tax on Sales",
                        "Account": "200",
                        "Comment": ""
                      }
                    ]
                  }
                ]
              }'
        '400':
          $ref: '#/components/responses/400Error'
    delete:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: deleteSaleInvoice
      summary: Allows you to delete a sale invoice
      parameters:
        - $ref: '#/components/parameters/taskID'
        - $ref: '#/components/parameters/void'
      responses:
        '200':
          description: Success - delete existing sale invoice and return response of type Sale Invoices array with deleted Sale Invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleInvoices'
              example: '{
                "SaleID": "b039f19e-66f8-4309-a4b1-abf928303c88",
                "Invoices": [
                  {
                    "TaskID": "b039f19e-66f8-4309-a4b1-abf928303c88",
                    "CombineAdditionalCharges": false,
                    "InvoiceNumber": "INV-00001",
                    "Memo": "",
                    "Status": "VOIDED",
                    "InvoiceDate": "2017-11-22T00:00:00Z",
                    "InvoiceDueDate": "2017-12-22T00:00:00Z",
                    "CurrencyConversionRate": 1,
                    "BillingAddressLine1": "3 Park Street Industrial Village Southbank",
                    "BillingAddressLine2": "Melbourne VIC 3331",
                    "LinkedFulfillmentNumber": "1",
                    "Lines": [],
                    "AdditionalCharges": []
                  }
                ]
              }'
        '400':
          $ref: '#/components/responses/400Error'
  /sale/order:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: getSaleOrder
      summary: Allows you to retrieve the Sale Order
      parameters:
        - $ref: '#/components/parameters/saleId'
        - $ref: '#/components/parameters/combineAdditionalCharges'
        - $ref: '#/components/parameters/includeProductInfo'
      responses:
        '200':
          description: Success - Returns Sale Order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleOrder'
              example: '{
                "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
                "SaleOrderNumber": "SO-00001",
                "Memo": "",
                "Status": "DRAFT",
                "Lines": [
                  {
                    "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
                    "SKU": "Bread",
                    "Name": "Baked Bread",
                    "Quantity": 1,
                    "Price": 8,
                    "Discount": 0,
                    "Tax": 0,
                    "AverageCost": 5,
                    "TaxRule": "Tax on Sales",
                    "Comment": "",
                    "DropShip": false,
                    "BackorderQuantity": 0,
                    "Total": 8
                  }
                ],
                "AdditionalCharges": [
                  {
                    "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
                    "Price": 350,
                    "Quantity": 1,
                    "Discount": 0,
                    "Tax": 0,
                    "Total": 350,
                    "TaxRule": "Tax on Sales",
                    "Comment": ""
                  }
                ],
                "TotalBeforeTax": 358,
                "Tax": 0,
                "Total": 358
              }'
    post:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: createSaleOrder
      summary: Allows you to create a Sale Order
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a Sale Order object with properties to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleOrder'
            example: '{
              "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
              "Memo": "",
              "Status": "DRAFT",
              "AutoPickPackShipMode": "NOPICK",
              "Lines": [
                {
                  "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
                  "SKU": "Bread",
                  "Name": "Baked Bread",
                  "Quantity": 1,
                  "Price": 8,
                  "Discount": 0,
                  "Tax": 0,
                  "AverageCost": 5,
                  "TaxRule": "Tax on Sales",
                  "Comment": "",
                  "DropShip": false,
                  "BackorderQuantity": 0,
                  "Total": 8
                }
              ],
              "AdditionalCharges": [
                {
                  "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
                  "Price": 350,
                  "Quantity": 1,
                  "Discount": 0,
                  "Tax": 0,
                  "Total": 350,
                  "TaxRule": "Tax on Sales",
                  "Comment": ""
                }
              ],
              "TotalBeforeTax": 358,
              "Tax": 0,
              "Total": 358
            }'
      responses:
        '200':
          description: Success - return response of type Sale Order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaleOrder'
              example: '{
                "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
                "SaleOrderNumber": "SO-00001",
                "Memo": "",
                "Status": "DRAFT",
                "Lines": [
                  {
                    "ProductID": "4aadd8f6-4d3d-46ca-acbb-1a9a662f9bc1",
                    "SKU": "Bread",
                    "Name": "Baked Bread",
                    "Quantity": 1,
                    "Price": 8,
                    "Discount": 0,
                    "Tax": 0,
                    "AverageCost": 5,
                    "TaxRule": "Tax on Sales",
                    "Comment": "",
                    "DropShip": false,
                    "BackorderQuantity": 0,
                    "Total": 8
                  }
                ],
                "AdditionalCharges": [
                  {
                    "Description": "Desktop/network support via phone. Per month fixed fee for minimum 20 hours/month.",
                    "Price": 350,
                    "Quantity": 1,
                    "Discount": 0,
                    "Tax": 0,
                    "Total": 350,
                    "TaxRule": "Tax on Sales",
                    "Comment": ""
                  }
                ],
                "TotalBeforeTax": 358,
                "Tax": 0,
                "Total": 358
              }'
        '400':
          $ref: '#/components/responses/400Error'
  /sale/payment:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: getSalePayment
      summary: Allows you to retrieve the Sale Payments
      parameters:
        - $ref: '#/components/parameters/saleId'
      responses:
        '200':
          description: Success - Returns Sale Payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalePayments'
              example: '[
                {
                  "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
                  "TaskID": "4733ba69-21c5-48f5-95e5-307aa9889747",
                  "ID": "ee093a0c-d177-9728-1df5-628a61a939e4",
                  "SaleOrderNumber": "SO-00001",
                  "InvoiceNumber": "INV-00005",
                  "CreditNoteNumber": null,
                  "Type": "Payment",
                  "Reference": "",
                  "Amount": 358,
                  "DatePaid": "2017-11-30T00:00:00Z",
                  "Account": "718",
                  "CurrencyRate": 1,
                  "DateCreated": "2017-11-28T05:08:30.6407568Z",
                  "CreditID": null
                },
                {
                  "SaleID": "916ab4c0-6ccb-4c93-873d-0603859050e4",
                  "TaskID": "529511e7-6ed6-4a99-a2a7-fab1d32198eb",
                  "ID": "bbd45356-8aeb-6108-bd9c-a5e23162d209",
                  "SaleOrderNumber": "SO-00001",
                  "InvoiceNumber": null,
                  "CreditNoteNumber": "CR-00004",
                  "Type": "Refund",
                  "Reference": "",
                  "Amount": 358,
                  "DatePaid": "2017-11-21T00:00:00Z",
                  "Account": "718",
                  "CurrencyRate": 1,
                  "DateCreated": "2017-11-28T04:53:43.9825081Z",
                  "CreditID": null
                }
              ]'
    post:
      security:
        - accountID: []
          appKey: []
      tags:
        - Inventory
      operationId: createSalePayment
      summary: Allows you to create a Sale Payment
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a Sale Payment object with properties to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalePayment'
            example: '{
              "TaskID": "4733ba69-21c5-48f5-95e5-307aa9889747",
              "Type": "Payment",
              "Reference": "",
              "Amount": 1,
              "DatePaid": "2017-11-30T00:00:00Z",
              "Account": "718",
              "CurrencyRate": 1
            }'
      responses:
        '200':
          description: Success - return response of type Sale Payment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalePayment'
              example: '{
[...]
