openapi: 3.0.0
servers:
  - url: 'https://inventory.dearsystems.com/ExternalApi/v2'
info:
  title: DEAR Inventory API
  description: This specifing endpoints for DEAR Inventory API
  version: "2.0.0"
  termsOfService: "https://dearsystems.com/terms-and-conditions/"
  contact:
    name: "Nhan Nguyen"
    email: "nnhansg@gmail.com"
    url: "https://www.nnhan.me"
paths:
  /customer:
    get:
      security:
        - accountID: []
          appKey: []
      tags:
        - customer
      operationId: getCustomers
      summary: Allows you to retrieve the customers
      parameters:
        - $ref: '#/components/parameters/pageParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/idParam'
        - $ref: '#/components/parameters/nameParam'
        - $ref: '#/components/parameters/modifiedSinceParam'
        - $ref: '#/components/parameters/includeDeprecatedParam'
      responses:
        '200':
          description: Success - return response of type Customers array with 0 to n Customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
              example: '{
                          "Total": 2,
                          "Page": 1,
                          "CustomerList": [
                            {
                              "ID": "0365e5bb-e5ea-4a45-b98b-fdc4466bdaf1",
                              "Name": "Human Test",
                              "Currency": "AUD",
                              "PaymentTerm": "30 days",
                              "Discount": 0,
                              "TaxRule": "BAS Excluded",
                              "Carrier": "DEFAULT Carrier",
                              "SalesRepresentative": nil,
                              "Location": "Main Warehouse",
                              "Comments": "",
                              "AccountReceivable": "610",
                              "RevenueAccount": "200",
                              "PriceTier": "Tier 1",
                              "TaxNumber": "",
                              "AdditionalAttribute1": "",
                              "AdditionalAttribute2": "",
                              "AdditionalAttribute3": "",
                              "AdditionalAttribute4": "",
                              "AdditionalAttribute5": "",
                              "AdditionalAttribute6": "",
                              "AdditionalAttribute7": "",
                              "AdditionalAttribute8": "",
                              "AdditionalAttribute9": "",
                              "AdditionalAttribute10": "",
                              "AttributeSet": nil,
                              "Tags": "",
                              "Status": "Active",
                              "CreditLimit": 0,
                              "LastModifiedOn": "2018-01-24T05:07:23.917Z",
                              "Addresses": [
                                {
                                  "Line1": "P O Box 456",
                                  "Line2": "Southbank",
                                  "City": "Melbourne GPO",
                                  "State": "VIC",
                                  "Postcode": "3331",
                                  "Country": nil,
                                  "Type": "Billing",
                                  "DefaultForType": true,
                                  "ID": "fc8ca28e-7f91-4ac3-8fff-deb86395b494"
                                }
                              ],
                              "Contacts": [
                                {
                                  "Name": "Nick Wakefield",
                                  "JobTitle": nil,
                                  "Phone": "03 3014556",
                                  "MobilePhone": nil,
                                  "Fax": nil,
                                  "Email": nil,
                                  "Website": nil,
                                  "Default": true,
                                  "Comment": nil,
                                  "IncludeInEmail": false,
                                  "ID": "c650db26-2fca-4fe4-837d-ffd0f4d97200"
                                }
                              ]
                            },
                            {
                              "ID": "861918cc-81f9-4701-9639-864c796561cf",
                              "Name": "Customer Test",
                              "Currency": "AUD",
                              "PaymentTerm": "30 days",
                              "Discount": 0,
                              "TaxRule": "GST Free Exports",
                              "Carrier": nil,
                              "SalesRepresentative": nil,
                              "Location": "Main Warehouse",
                              "Comments": nil,
                              "AccountReceivable": "610",
                              "RevenueAccount": "200",
                              "PriceTier": "Tier 1",
                              "TaxNumber": nil,
                              "AdditionalAttribute1": nil,
                              "AdditionalAttribute2": nil,
                              "AdditionalAttribute3": nil,
                              "AdditionalAttribute4": nil,
                              "AdditionalAttribute5": nil,
                              "AdditionalAttribute6": nil,
                              "AdditionalAttribute7": nil,
                              "AdditionalAttribute8": nil,
                              "AdditionalAttribute9": nil,
                              "AdditionalAttribute10": nil,
                              "AttributeSet": nil,
                              "Tags": nil,
                              "Status": "Active",
                              "CreditLimit": 0,
                              "LastModifiedOn": "2018-01-30T06:07:43.46Z",
                              "Addresses": [],
                              "Contacts": [
                                {
                                  "Name": "Customer Test",
                                  "JobTitle": nil,
                                  "Phone": nil,
                                  "MobilePhone": nil,
                                  "Fax": nil,
                                  "Email": "Customer@mail.ru",
                                  "Website": nil,
                                  "Default": true,
                                  "Comment": nil,
                                  "IncludeInEmail": false,
                                  "ID": "23ef723b-75b5-43b3-8ee7-56d193e53923"
                                }
                              ]
                            }
                          ]
                        }'
    post:
      security:
        - accountID: []
          appKey: []
      tags:
        - customer
      operationId: createCustomer
      summary: Allows you to create a customer
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a Contact object with properties to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
            example: '{
                        "Name": "DIISR - Small Business Services customer",
                        "Currency": "AUD",
                        "PaymentTerm": "30 days",
                        "Discount": 0,
                        "TaxRule": "GST Free Exports",
                        "Carrier": "DEFAULT Carrier",
                        "SalesRepresentative": nil,
                        "Location": "Main Warehouse",
                        "Comments": nil,
                        "AccountReceivable": "610",
                        "RevenueAccount": "200",
                        "PriceTier": "Tier 1",
                        "TaxNumber": nil,
                        "AdditionalAttribute1": nil,
                        "AdditionalAttribute2": nil,
                        "AdditionalAttribute3": nil,
                        "AdditionalAttribute4": nil,
                        "AdditionalAttribute5": nil,
                        "AdditionalAttribute6": nil,
                        "AdditionalAttribute7": nil,
                        "AdditionalAttribute8": nil,
                        "AdditionalAttribute9": nil,
                        "AdditionalAttribute10": nil,
                        "AttributeSet": nil,
                        "Tags": nil,
                        "Status": "Active",
                        "Addresses": [
                            {
                                "ID": "4bc4e423-d8af-454d-a186-4a827c15bd0b",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Line1": "L3, Southbank House",
                                "Line2": "13 Gallery Ave",
                                "City": "Melbourne",
                                "State": "VIC",
                                "Postcode": "3131",
                                "Country": nil,
                                "Type": "Business",
                                "DefaultForType": true
                            },
                            {
                                "ID": "35cec087-04da-46b5-b3c8-c3a7311f2417",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Line1": "L3, Southbank House",
                                "Line2": "13 Gallery Ave",
                                "City": "Melbourne",
                                "State": "VIC",
                                "Postcode": "3131",
                                "Country": nil,
                                "Type": "Billing",
                                "DefaultForType": true
                            }
                        ],
                        "Contacts": [
                            {
                                "ID": "1d62f59b-657d-423f-ad95-9ad9ec4f29a3",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Name": "Sheree Bond",
                                "JobTitle": nil,
                                "Phone": "0800 4389376",
                                "MobilePhone": nil,
                                "Fax": "03 4389379",
                                "Email": "accounts@diisr.govt",
                                "Website": nil,
                                "Default": true,
                                "Comment": nil,
                                "IncludeInEmail": false
                            }
                        ]
                    }'
      responses:
        '200':
          description: Success - return response of type Customers array with newly created Customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "CustomerList": [
                            {
                                "ID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                "Name": "DIISR - Small Business Services customer",
                                "Currency": "AUD",
                                "PaymentTerm": "30 days",
                                "Discount": 0,
                                "TaxRule": "GST Free Exports",
                                "Carrier": "DEFAULT Carrier",
                                "SalesRepresentative": nil,
                                "Location": "Main Warehouse",
                                "Comments": nil,
                                "AccountReceivable": "610",
                                "RevenueAccount": "200",
                                "PriceTier": "Tier 1",
                                "TaxNumber": nil,
                                "AdditionalAttribute1": nil,
                                "AdditionalAttribute2": nil,
                                "AdditionalAttribute3": nil,
                                "AdditionalAttribute4": nil,
                                "AdditionalAttribute5": nil,
                                "AdditionalAttribute6": nil,
                                "AdditionalAttribute7": nil,
                                "AdditionalAttribute8": nil,
                                "AdditionalAttribute9": nil,
                                "AdditionalAttribute10": nil,
                                "AttributeSet": nil,
                                "Tags": nil,
                                "Status": "Active",
                                "LastModifiedOn": "2018-01-31T06:07:43.46Z",
                                "CreditLimit": 0
                                "Addresses": [
                                    {
                                        "ID": "b2e8260c-29f8-4153-b8bc-3b4932cb1e1d",
                                        "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                        "Line1": "L3, Southbank House",
                                        "Line2": "13 Gallery Ave",
                                        "City": "Melbourne",
                                        "State": "VIC",
                                        "Postcode": "3131",
                                        "Country": nil,
                                        "Type": "Billing",
                                        "DefaultForType": true
                                    },
                                    {
                                        "ID": "505080d3-ebad-4d03-85ae-88df19536bc9",
                                        "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                        "Line1": "L3, Southbank House",
                                        "Line2": "13 Gallery Ave",
                                        "City": "Melbourne",
                                        "State": "VIC",
                                        "Postcode": "3131",
                                        "Country": nil,
                                        "Type": "Business",
                                        "DefaultForType": true
                                    }
                                ],
                                "Contacts": [
                                    {
                                        "ID": "817e0314-97fc-4d3f-855b-14fbb89de2ba",
                                        "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                        "Name": "Sheree Bond",
                                        "JobTitle": nil,
                                        "Phone": "0800 4389376",
                                        "MobilePhone": nil,
                                        "Fax": "03 4389379",
                                        "Email": "accounts@diisr.govt",
                                        "Website": nil,
                                        "Default": true,
                                        "Comment": nil,
                                        "IncludeInEmail": false
                                    }
                                ]
                            }
                          ]
                        }'
        '400':
          $ref: '#/components/responses/400Error'
    put:
      security:
        - accountID: []
          appKey: []
      tags:
        - customer
      operationId: updateCustomer
      summary: Allows you to update a customer
      parameters:
        - $ref: '#/components/parameters/summarizeErrors'
      requestBody:
        description: a Contact object with properties to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
            example: '{
                        "ID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                        "Name": "DIISR - Small Business Services customer",
                        "Currency": "AUD",
                        "PaymentTerm": "30 days",
                        "Discount": 0,
                        "TaxRule": "GST Free Exports",
                        "Carrier": "DEFAULT Carrier",
                        "SalesRepresentative": nil,
                        "Location": "Main Warehouse",
                        "Comments": nil,
                        "AccountReceivable": "610",
                        "RevenueAccount": "200",
                        "PriceTier": "Tier 1",
                        "TaxNumber": nil,
                        "AdditionalAttribute1": nil,
                        "AdditionalAttribute2": nil,
                        "AdditionalAttribute3": nil,
                        "AdditionalAttribute4": nil,
                        "AdditionalAttribute5": nil,
                        "AdditionalAttribute6": nil,
                        "AdditionalAttribute7": nil,
                        "AdditionalAttribute8": nil,
                        "AdditionalAttribute9": nil,
                        "AdditionalAttribute10": nil,
                        "AttributeSet": nil,
                        "Tags": nil,
                        "Status": "Active",
                        "Addresses": [
                            {
                                "ID": "4bc4e423-d8af-454d-a186-4a827c15bd0b",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Line1": "L3, Southbank House",
                                "Line2": "13 Gallery Ave",
                                "City": "Melbourne",
                                "State": "VIC",
                                "Postcode": "3131",
                                "Country": nil,
                                "Type": "Business",
                                "DefaultForType": true
                            },
                            {
                                "ID": "35cec087-04da-46b5-b3c8-c3a7311f2417",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Line1": "L3, Southbank House",
                                "Line2": "13 Gallery Ave",
                                "City": "Melbourne",
                                "State": "VIC",
                                "Postcode": "3131",
                                "Country": nil,
                                "Type": "Billing",
                                "DefaultForType": true
                            }
                        ],
                        "Contacts": [
                            {
                                "ID": "1d62f59b-657d-423f-ad95-9ad9ec4f29a3",
                                "CustomerID": "4978c3ff-4382-4045-819b-2971480ddaf1",
                                "Name": "Sheree Bond",
                                "JobTitle": nil,
                                "Phone": "0800 4389376",
                                "MobilePhone": nil,
                                "Fax": "03 4389379",
                                "Email": "accounts@diisr.govt",
                                "Website": nil,
                                "Default": true,
                                "Comment": nil,
                                "IncludeInEmail": false
                            }
                        ]
                    }'
      responses:
        '200':
          description: Success - return response of type Customers array with updated Customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
              example: '{
                          "Total": 1,
                          "Page": 1,
                          "CustomerList": [
                              {
                                  "ID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                  "Name": "DIISR - Small Business Services customer",
                                  "Currency": "AUD",
                                  "PaymentTerm": "30 days",
                                  "Discount": 0,
                                  "TaxRule": "GST Free Exports",
                                  "Carrier": "DEFAULT Carrier",
                                  "SalesRepresentative": nil,
                                  "Location": "Main Warehouse",
                                  "Comments": "",
                                  "AccountReceivable": "610",
                                  "RevenueAccount": "200",
                                  "PriceTier": "Tier 1",
                                  "TaxNumber": "",
                                  "AdditionalAttribute1": "",
                                  "AdditionalAttribute2": "",
                                  "AdditionalAttribute3": "",
                                  "AdditionalAttribute4": "",
                                  "AdditionalAttribute5": "",
                                  "AdditionalAttribute6": "",
                                  "AdditionalAttribute7": "",
                                  "AdditionalAttribute8": "",
                                  "AdditionalAttribute9": "",
                                  "AdditionalAttribute10": "",
                                  "AttributeSet": nil,
                                  "Tags": "",
                                  "Status": "Active",
                                  "LastModifiedOn": "2018-01-31T06:20:43.46Z",
                                  "CreditLimit": 0
                                  "Addresses": [
                                      {
                                          "ID": "35cec087-04da-46b5-b3c8-c3a7311f2417",
                                          "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                          "Line1": "L3, Southbank House",
                                          "Line2": "13 Gallery Ave",
                                          "City": "Melbourne",
                                          "State": "VIC",
                                          "Postcode": "3131",
                                          "Country": nil,
                                          "Type": "Billing",
                                          "DefaultForType": true
                                      },
                                      {
                                          "ID": "4bc4e423-d8af-454d-a186-4a827c15bd0b",
                                          "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                          "Line1": "L3, Southbank House",
                                          "Line2": "13 Gallery Ave",
                                          "City": "Melbourne",
                                          "State": "VIC",
                                          "Postcode": "3131",
                                          "Country": nil,
                                          "Type": "Business",
                                          "DefaultForType": true
                                      }
                                  ],
                                  "Contacts": [
                                      {
                                          "ID": "1d62f59b-657d-423f-ad95-9ad9ec4f29a3",
                                          "CustomerID": "7d6b441a-3067-42b1-9b81-2def95df827b",
                                          "Name": "Sheree Bond",
                                          "JobTitle": nil,
                                          "Phone": "0800 4389376",
                                          "MobilePhone": nil,
                                          "Fax": "03 4389379",
                                          "Email": "accounts@diisr.govt",
                                          "Website": nil,
                                          "Default": true,
                                          "Comment": nil,
                                          "IncludeInEmail": false
                                      }
                                  ]
                              }
                          ]
                      }'
        '400':
          $ref: '#/components/responses/400Error'
components:
  securitySchemes:
    accountID:
      type: apiKey
      in: header
      name: api-auth-accountid
    appKey:
      type: apiKey
      in: header
      name: api-auth-applicationkey
  parameters:
    pageParam:
      in: query
      name: Page
      description: Default is 1
      example: 1
      schema:
        type: string
        default: 1
    limitParam:
      in: query
      name: Limit
      description: Default is 100
      example: 100
      schema:
        type: string
        default: 100
    idParam:
      in: query
      name: ID
      description: Default is nil
      schema:
        type: string
        nullable: true
    nameParam:
      in: query
      name: Name
      description: Default is nil
      schema:
        type: string
        nullable: true
    modifiedSinceParam:
      in: query
      name: ModifiedSince
      description: Default is nil
      schema:
        type: string
        nullable: true
    includeDeprecatedParam:
      in: query
      name: IncludeDeprecated
      description: Default is false
      example: false
      schema:
        type: string
        default: false
    summarizeErrors:
      in: query
      name: summarizeErrors
      description: If false return 200 OK and mix of successfully created obejcts and any with validation errors
      example: false
      schema:
        type: boolean
        default: false
  responses:
    400Error:
      description: A failed request due to validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Address:
      externalDocs:
        url: 'https://dearinventory.docs.apiary.io/#SupplierAddressModel'
      properties:
        ID:
          description: If passed in PUT method, entry will be searched by id, found entry will be updated, otherwise created
          type: string
          format: uuid
        Line1:
          description: Address Line 1
          maxLength: 256
          type: string
        Line2:
          description: Address Line 2
          maxLength: 256
          type: string
        City:
          description: City / Suburb
          maxLength: 256
          type: string
        State:
          description: State / Province
          maxLength: 256
          type: string
        PostCode:
          description: Zip / PostCode
          maxLength: 20
          type: string
        Country:
          description: Country name
          type: string
        Type:
          description: 'Address Type. Should be one of the following values: `Billing`, `Business` or `Shipping`.'
          type: string
          enum:
          - Billing
          - Business
          - Shipping
        DefaultForType:
          description: Points that Address is used as default for chosen Type. `false` as default.
          type: boolean
          default: false
    Contact:
      externalDocs:
        url: 'https://dearinventory.docs.apiary.io/#SupplierContactModel'
      properties:
        ID:
          description: If passed in PUT method, entry will be searched by id, found entry will be updated, otherwise created
          type: string
          format: uuid
        Name:
          description: Name of Contact
          maxLength: 256
          type: string
        Phone:
          description: Phone
          maxLength: 50
          type: string
        Fax:
          description: Fax
          maxLength: 50
          type: string
        Email:
          description: Email
          maxLength: 256
          type: string
        Website:
          description: Website
          maxLength: 256
          type: string
        Comment:
          description: Comment
          maxLength: 256
          type: string
        Default:
          description: Points that Contact is used as default. `false` as default.
          type: boolean
          default: false
        IncludeInEmail:
          description: Points that Contact is included in Email. `false` as default.
          type: boolean
          default: false
    CurrencyCode:
      description: 3 letter alpha code for the currency – see list of currency codes
      type: string
      enum:
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AUD
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CAD
      - CDF
      - CHF
      - CLP
      - CNY
      - COP
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GBP
      - GEL
      - GGP
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - IMP
      - INR
      - IQD
      - IRR
      - ISK
      - JEP
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLL
      - SOS
      - SPL
      - SRD
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TVD
      - TWD
      - TZS
      - UAH
      - UGX
      - USD
      - UYU
      - UZS
      - VEF
      - VND
      - VUV
      - WST
      - XAF
      - XCD
      - XDR
      - XOF
      - XPF
      - YER
      - ZAR
      - ZMW
      - ZWD
    Customers:
      type: object
      properties:
        Total:
          description: Total
          type: string
        Page:
          description: Page
          type: string
        CustomerList:
          description: Array of Customers
          type: array
          items:
            $ref: '#/components/schemas/Customer'
    Customer:
      externalDocs:
        url: 'https://dearinventory.docs.apiary.io/#reference/customer/get'
      properties:
        ID:
          description: Unique Customer ID
          type: string
          format: uuid
        Name:
          description: Name of Customer
          maxLength: 256
          type: string
        Status:
          description: Points that Customer is Active. Available values are Active and Deprecated. Required for POST
          type: string
          enum:
          - Active
          - Deprecated
        Currency:
          $ref: '#/components/schemas/CurrencyCode'
        PaymentTerm:
          description: Payment term
          type: string
        AccountReceivable:
          description: Account receivable code of Customer
          type: string
        RevenueAccount:
          description: Sale account code of Customer
          type: string
        TaxRule:
          description: Tax rule name
          type: string
        PriceTier:
          description: Price tier
          type: string
        Carrier:
          description: Carrier name
          type: string
        SalesRepresentative:
          description: Sales representative
          type: string
        Location:
          description: Location
          type: string
        Discount:
          description: Discount must be between 0% and 100%
          type: number
          format: double
        Comments:
          description: Comments
          maxLength: 256
          type: string
        TaxNumber:
          description: Tax number
          type: string
        CreditLimit:
          description: Credit limit
          type: number
          format: double
        Tags:
          description: Tags string
          type: string
        AttributeSet:
          description: AttributeSet name
          type: string
        AdditionalAttribute1:
          description: Additional attribute 1 value
          type: string
        AdditionalAttribute2:
          description: Additional attribute 2 value
          type: string
        AdditionalAttribute3:
          description: Additional attribute 3 value
          type: string
        AdditionalAttribute4:
          description: Additional attribute 4 value
          type: string
        AdditionalAttribute5:
          description: Additional attribute 5 value
          type: string
        AdditionalAttribute6:
          description: Additional attribute 6 value
          type: string
        AdditionalAttribute7:
          description: Additional attribute 7 value
          type: string
        AdditionalAttribute8:
          description: Additional attribute 8 value
          type: string
        AdditionalAttribute9:
          description: Additional attribute 9 value
          type: string
        AdditionalAttribute10:
          description: Additional attribute 10 value
          type: string
        LastModifiedOn:
          description: Date of last modification
          type: string
        Addresses:
          description: List of addresses
          type: array
          items:
            $ref: '#/components/schemas/Address'
        Contacts:
          description: List of contacts
          type: array
          items:
            $ref: '#/components/schemas/Contact'
      type: object
    Error:
      externalDocs:
        url: 'https://dearinventory.docs.apiary.io/#introduction/api-status-codes'
      properties:
        ErrorCode:
          description: Exception number
          type: integer
        Exception:
          description: Exception message
          type: string
      type: object
